* {
  margin: 0px;
}

.collapsed {
  height: 0px;
  opacity: 0;
}

.collapsed, .expanded {
  overflow : hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

#display {
  font-size: 45px;
}

#display, .sectionElement h1, .sectionElement h2 {
  margin-top: 5%;
}

#display, #intro, #menu {
  background-color: white;
  color:  #85754d;
}

#display, footer, #intro, .sectionElement {
  text-align: center;
}

#display, #menu {
  font-family: 'Major Mono Display', monospace;
}

.expanded {
  background-color: #85754d;
  /* height: 200px; Can css be dynamically calculated? */
}

.expanded, header, footer {
  color: white;
}

#expButton {
  margin-left: 30%;
}

#expButton, #extButton, #projButton, #skillButton {
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}

#expButton, header, #projButton, .sectionElement h2 , .sectionElement ul {
  text-align: left;
}

#extButton {
  margin-right: 10%;
  margin-bottom: 5%;
}

#extButton, #skillButton {
  text-align: right;
}

footer {
  font-size: 35px;
}

header {
  font-size: 50px;
}

header, footer {
  background-color: #4b2e83;
  font-family: 'Aleo', serif;
}

header, footer {
  padding: 5%;
}

hr {
  margin: 5%;
}

#intro, .expanded {
  font-family: 'Noto Serif TC', serif;
}

#intro, footer p, .sectionElement{
  font-size: 20px;
}

#menu {
  font-size: 25px;
}

#menu, .sectionElement {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#projButton {
  margin-left: 10%;
}

.sectionElement {
  height: 300px;
}

.sectionElement h1, .sectionElement h2 {
  font-style: italic;
  margin-bottom: 1%;
}

.sectionElement h2, .sectionElement p, .sectionElement ul {
  margin-left: 5%;
}

.sectionElement p {
  margin-right: 5%;
}

.sectionElement p, .sectionElement ul {
  margin-bottom: 5%;
}

#skillButton {
  margin-right: 35%;
}
