* {
  margin: 0px;
}

.collapsed {
  height: 0px;
  opacity: 0;
}

.collapsed, .expanded {
  overflow : hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

#display {
  font-size: 45px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
}

#display, #intro, #menu {
  background-color: white;
  color:  #85754d;
}

#display, #intro, footer {
  text-align: center;
}

#display, #menu {
  font-family: 'Major Mono Display', monospace;
}

#intro, .expanded {
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

.expanded {
    background-color: #85754d;
    height: 200px;
    color: white;
}

.expanded div {
  font-style: italic;
}

.expanded div, footer {
  font-size: 35px;
}

.expanded, header {
  text-align: left;
}

.expanded, header, footer {
  padding: 5%;
}

#expButton {
  margin-left: 30%;
}

#expButton, #extButton, #projButton, #skillButton {
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: 1%;
}

#expButton, #projButton {
  text-align: left;
}

#extButton {
  margin-right: 10%;
  margin-bottom: 5%;
}

#extButton, #skillButton {
  text-align: right;
}

footer p {
  font-size: 20px;
}

header {
  font-size: 50px;
}

header, footer {
  background-color: #4b2e83;
  color: white;
  font-family: 'Aleo', serif;
}

hr {
  margin: 5%;
}

#menu {
  justify-content: space-around;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#projButton {
  margin-left: 10%;
}

#skillButton {
  margin-right: 35%;
}
